.red-50 {
  background: #FFEBEE; }

.red-100 {
  background: #FFCDD2; }

.red-200 {
  background: #EF9A9A; }

.red-300 {
  background: #E57373; }

.red-400 {
  background: #EF5350; }

.red-500 {
  background: #F44336; }

.red-600 {
  background: #E53935; }

.red-700 {
  background: #D32F2F; }

.red-800 {
  background: #C62828; }

.red-900 {
  background: #B71C1C; }

.red-A100 {
  background: #FF8A80; }

.red-A200 {
  background: #FF5252; }

.red-A400 {
  background: #FF1744; }

.red-A700 {
  background: #D50000; }

.pink-200 {
  background: #F48FB1; }

.pink-300 {
  background: #F06292; }

.pink-400 {
  background: #EC407A; }

.pink-500 {
  background: #E91E63; }

.pink-600 {
  background: #D81B60; }

.pink-700 {
  background: #C2185B; }

.pink-800 {
  background: #AD1457; }

.pink-900 {
  background: #880E4F; }

.pink-A100 {
  background: #FF80AB; }

.pink-A200 {
  background: #FF4081; }

.pink-A400 {
  background: #F50057; }

.pink-A700 {
  background: #C51162; }

.purple-200 {
  background: #CE93D8; }

.purple-300 {
  background: #BA68C8; }

.purple-400 {
  background: #AB47BC; }

.purple-500 {
  background: #9C27B0; }

.purple-600 {
  background: #8E24AA; }

.purple-700 {
  background: #7B1FA2; }

.purple-800 {
  background: #6A1B9A; }

.purple-900 {
  background: #4A148C; }

.purple-A100 {
  background: #EA80FC; }

.purple-A200 {
  background: #E040FB; }

.purple-A400 {
  background: #D500F9; }

.purple-A700 {
  background: #AA00FF; }

.deep-purple-200 {
  background: #B39DDB; }

.deep-purple-300 {
  background: #9575CD; }

.deep-purple-400 {
  background: #7E57C2; }

.deep-purple-500 {
  background: #673AB7; }

.deep-purple-600 {
  background: #5E35B1; }

.deep-purple-700 {
  background: #512DA8; }

.deep-purple-800 {
  background: #4527A0; }

.deep-purple-900 {
  background: #311B92; }

.deep-purple-A100 {
  background: #B388FF; }

.deep-purple-A200 {
  background: #7C4DFF; }

.deep-purple-A400 {
  background: #651FFF; }

.deep-purple-A700 {
  background: #6200EA; }

.indigo-200 {
  background: #9FA8DA; }

.indigo-300 {
  background: #7986CB; }

.indigo-400 {
  background: #5C6BC0; }

.indigo-500 {
  background: #3F51B5; }

.indigo-600 {
  background: #3949AB; }

.indigo-700 {
  background: #303F9F; }

.indigo-800 {
  background: #283593; }

.indigo-900 {
  background: #1A237E; }

.indigo-A100 {
  background: #8C9EFF; }

.indigo-A200 {
  background: #536DFE; }

.indigo-A400 {
  background: #3D5AFE; }

.indigo-A700 {
  background: #304FFE; }

.blue-200 {
  background: #90CAF9; }

.blue-300 {
  background: #64B5F6; }

.blue-400 {
  background: #42A5F5; }

.blue-500 {
  background: #2196F3; }

.blue-600 {
  background: #1E88E5; }

.blue-700 {
  background: #1976D2; }

.blue-800 {
  background: #1565C0; }

.blue-900 {
  background: #0D47A1; }

.blue-A100 {
  background: #82B1FF; }

.blue-A200 {
  background: #448AFF; }

.blue-A400 {
  background: #2979FF; }

.blue-A700 {
  background: #2962FF; }

.light-blue-200 {
  background: #81D4FA; }

.light-blue-300 {
  background: #4FC3F7; }

.light-blue-400 {
  background: #29B6F6; }

.light-blue-500 {
  background: #03A9F4; }

.light-blue-600 {
  background: #039BE5; }

.light-blue-700 {
  background: #0288D1; }

.light-blue-800 {
  background: #0277BD; }

.light-blue-900 {
  background: #01579B; }

.light-blue-A100 {
  background: #80D8FF; }

.light-blue-A200 {
  background: #40C4FF; }

.light-blue-A400 {
  background: #00B0FF; }

.light-blue-A700 {
  background: #0091EA; }

.cyan-200 {
  background: #80DEEA; }

.cyan-300 {
  background: #4DD0E1; }

.cyan-400 {
  background: #26C6DA; }

.cyan-500 {
  background: #00BCD4; }

.cyan-600 {
  background: #00ACC1; }

.cyan-700 {
  background: #0097A7; }

.cyan-800 {
  background: #00838F; }

.cyan-900 {
  background: #006064; }

.cyan-A100 {
  background: #84FFFF; }

.cyan-A200 {
  background: #18FFFF; }

.cyan-A400 {
  background: #00E5FF; }

.cyan-A700 {
  background: #00B8D4; }

.teal-200 {
  background: #80CBC4; }

.teal-300 {
  background: #4DB6AC; }

.teal-400 {
  background: #26A69A; }

.teal-500 {
  background: #009688; }

.teal-600 {
  background: #00897B; }

.teal-700 {
  background: #00796B; }

.teal-800 {
  background: #00695C; }

.teal-900 {
  background: #004D40; }

.teal-A100 {
  background: #A7FFEB; }

.teal-A200 {
  background: #64FFDA; }

.teal-A400 {
  background: #1DE9B6; }

.teal-A700 {
  background: #00BFA5; }

.green-200 {
  background: #A5D6A7; }

.green-300 {
  background: #81C784; }

.green-400 {
  background: #66BB6A; }

.green-500 {
  background: #4CAF50; }

.green-600 {
  background: #43A047; }

.green-700 {
  background: #388E3C; }

.green-800 {
  background: #2E7D32; }

.green-900 {
  background: #1B5E20; }

.green-A100 {
  background: #B9F6CA; }

.green-A200 {
  background: #69F0AE; }

.green-A400 {
  background: #00E676; }

.green-A700 {
  background: #00C853; }

.light-green-200 {
  background: #C5E1A5; }

.light-green-300 {
  background: #AED581; }

.light-green-400 {
  background: #9CCC65; }

.light-green-500 {
  background: #8BC34A; }

.light-green-600 {
  background: #7CB342; }

.light-green-700 {
  background: #689F38; }

.light-green-800 {
  background: #558B2F; }

.light-green-900 {
  background: #33691E; }

.light-green-A100 {
  background: #CCFF90; }

.light-green-A200 {
  background: #B2FF59; }

.light-green-A400 {
  background: #76FF03; }

.light-green-A700 {
  background: #64DD17; }

.lime-200 {
  background: #E6EE9C; }

.lime-300 {
  background: #DCE775; }

.lime-400 {
  background: #D4E157; }

.lime-500 {
  background: #CDDC39; }

.lime-600 {
  background: #C0CA33; }

.lime-700 {
  background: #AFB42B; }

.lime-800 {
  background: #9E9D24; }

.lime-900 {
  background: #827717; }

.lime-A100 {
  background: #F4FF81; }

.lime-A200 {
  background: #EEFF41; }

.lime-A400 {
  background: #C6FF00; }

.lime-A700 {
  background: #AEEA00; }

.yellow-200 {
  background: #FFF59D; }

.yellow-300 {
  background: #FFF176; }

.yellow-400 {
  background: #FFEE58; }

.yellow-500 {
  background: #FFEB3B; }

.yellow-600 {
  background: #FDD835; }

.yellow-700 {
  background: #FBC02D; }

.yellow-800 {
  background: #F9A825; }

.yellow-900 {
  background: #F57F17; }

.yellow-A100 {
  background: #FFFF8D; }

.yellow-A200 {
  background: #FFFF00; }

.yellow-A400 {
  background: #FFEA00; }

.yellow-A700 {
  background: #FFD600; }

.amber-200 {
  background: #FFE082; }

.amber-300 {
  background: #FFD54F; }

.amber-400 {
  background: #FFCA28; }

.amber-500 {
  background: #FFC107; }

.amber-600 {
  background: #FFB300; }

.amber-700 {
  background: #FFA000; }

.amber-800 {
  background: #FF8F00; }

.amber-900 {
  background: #FF6F00; }

.amber-A100 {
  background: #FFE57F; }

.amber-A200 {
  background: #FFD740; }

.amber-A400 {
  background: #FFC400; }

.amber-A700 {
  background: #FFAB00; }

.orange-200 {
  background: #FFCC80; }

.orange-300 {
  background: #FFB74D; }

.orange-400 {
  background: #FFA726; }

.orange-500 {
  background: #FF9800; }

.orange-600 {
  background: #FB8C00; }

.orange-700 {
  background: #F57C00; }

.orange-800 {
  background: #EF6C00; }

.orange-900 {
  background: #E65100; }

.orange-A100 {
  background: #FFD180; }

.orange-A200 {
  background: #FFAB40; }

.orange-A400 {
  background: #FF9100; }

.orange-A700 {
  background: #FF6D00; }

.deep-orange-200 {
  background: #FFAB91; }

.deep-orange-300 {
  background: #FF8A65; }

.deep-orange-400 {
  background: #FF7043; }

.deep-orange-500 {
  background: #FF5722; }

.deep-orange-600 {
  background: #F4511E; }

.deep-orange-700 {
  background: #E64A19; }

.deep-orange-800 {
  background: #D84315; }

.deep-orange-900 {
  background: #BF360C; }

.deep-orange-A100 {
  background: #FF9E80; }

.deep-orange-A200 {
  background: #FF6E40; }

.deep-orange-A400 {
  background: #FF3D00; }

.deep-orange-A700 {
  background: #DD2C00; }

.brown-200 {
  background: #BCAAA4; }

.brown-300 {
  background: #A1887F; }

.brown-400 {
  background: #8D6E63; }

.brown-500 {
  background: #795548; }

.brown-600 {
  background: #6D4C41; }

.brown-700 {
  background: #5D4037; }

.brown-800 {
  background: #4E342E; }

.brown-900 {
  background: #3E2723; }

.grey-200 {
  background: #EEEEEE; }

.grey-300 {
  background: #E0E0E0; }

.grey-400 {
  background: #BDBDBD; }

.grey-500 {
  background: #9E9E9E; }

.grey-600 {
  background: #757575; }

.grey-700 {
  background: #616161; }

.grey-800 {
  background: #424242; }

.grey-900 {
  background: #212121; }

.blue-grey-200 {
  background: #B0BEC5; }

.blue-grey-300 {
  background: #90A4AE; }

.blue-grey-400 {
  background: #78909C; }

.blue-grey-500 {
  background: #607D8B; }

.blue-grey-600 {
  background: #546E7A; }

.blue-grey-700 {
  background: #455A64; }

.blue-grey-800 {
  background: #37474F; }

.blue-grey-900 {
  background: #263238; }

.black-2 {
  background: rgba(0, 0, 0, 0.54); }

.black-3 {
  background: rgba(0, 0, 0, 0.26); }

.black-4 {
  background: rgba(0, 0, 0, 0.12); }

.black-5 {
  background: rgba(0, 0, 0, 0.05); }

.white-2 {
  background: rgba(255, 255, 255, 0.7); }

.white-3 {
  background: rgba(255, 255, 255, 0.3); }

.white-4 {
  background: rgba(255, 255, 255, 0.12); }

html, body {
  height: 100%; }

body {
  background: #4B67A8; }

.container-verify {
  width: 1200px !important;
  padding: 30px 0 0 0 !important; }

.container-form-question {
  padding-top: 60px; }

.nombre-curso {
  color: white;
  font-size: 20px; }

.table-themes table, .table-number-question table {
  background: white; }

.table-number-question .cont-option-verify {
  margin: 0 -12px 10px; }
  .table-number-question .cont-option-verify .button {
    padding: 6px 10px; }
  .table-number-question .cont-option-verify input {
    width: 50px;
    display: inline-block;
    border-radius: 4px; }
.table-number-question table > tbody > tr > th, .table-number-question table > tbody > tr > td {
  padding: 3px; }
.table-number-question table tbody tr td {
  position: relative;
  cursor: pointer; }
  .table-number-question table tbody tr td.answer-incorrec {
    background: darkred;
    color: white; }
  .table-number-question table tbody tr td .popup {
    position: absolute;
    width: 280px;
    left: -280px;
    display: none;
    top: 0;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #C59488;
    padding: 9px; }
    .table-number-question table tbody tr td .popup.show-popup {
      display: block;
      color: black; }

.table-incorrect {
  border: 2px solid darkred; }

.table-responsive {
  overflow-x: visible; }

.navbar-inverse.navbar-add-question {
  background: #3F527E; }
  .navbar-inverse.navbar-add-question a {
    color: white; }

.cont-check-costom {
  line-height: 30px;
  display: inline-block;
  color: white; }
  .cont-check-costom .check-custom {
    width: 34px;
    height: 34px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 3px;
    line-height: 34px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    cursor: pointer; }
    .cont-check-costom .check-custom .mark-check {
      width: 20px;
      height: 20px;
      background-color: #0BC100;
      margin: 7px auto 0;
      border-radius: 3px; }

.cont-question form.form-question {
  overflow: hidden; }
  .cont-question form.form-question label {
    color: white; }
  .cont-question form.form-question .col-letter {
    text-align: right;
    margin-top: 7px;
    font-size: 14px; }
  .cont-question form.form-question .label-secc-gruop {
    padding: 7px;
    color: #fff;
    border-radius: 4px;
    background: #3F527E; }
.cont-question .cont-select-course-temas .col-letter {
  padding-left: 0px; }
.cont-question .cont-select-course-temas .select-course-theme {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  font-weight: bold;
  background-image: none;
  border: 1px solid #004271;
  border-radius: 4px;
  background: #3F527E; }
  .cont-question .cont-select-course-temas .select-course-theme.alertVoid {
    -webkit-animation: animation .75s infinite;
    animation: animation .75s infinite; }
.cont-question .message-void-course-theme {
  margin-top: 15px;
  float: left; }
.cont-question .btn-enviar {
  margin-top: 15px;
  float: right; }
.cont-question .modal-success-add-question .modal-content {
  color: white;
  padding: 6px 12px;
  background: #5cb85c;
  text-align: center;
  margin-top: 201px; }
.cont-question .show-date-class {
  text-transform: uppercase; }

.content-simulacrum-app {
  background: #FAFAFA;
  color: #abc5d7;
  margin-top: 25px !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); }
  .content-simulacrum-app .cs-cont-header {
    margin-bottom: 0; }
    .content-simulacrum-app .cs-cont-header .cont-title {
      text-align: center; }
      .content-simulacrum-app .cs-cont-header .cont-title .title-simulacrum {
        color: #4B67A8;
        font-weight: bold; }
    .content-simulacrum-app .cs-cont-header .cont-title-time, .content-simulacrum-app .cs-cont-header .cont-title-count {
      background-color: #646464;
      color: white;
      position: relative;
      text-align: center; }
      .content-simulacrum-app .cs-cont-header .cont-title-time .title-time, .content-simulacrum-app .cs-cont-header .cont-title-count .title-time {
        font-size: 34px;
        margin-bottom: 0; }
    .content-simulacrum-app .cs-cont-header .cont-title-count {
      left: -4px; }
      .content-simulacrum-app .cs-cont-header .cont-title-count .title-time {
        font-size: 30px;
        padding-top: 5px; }
        .content-simulacrum-app .cs-cont-header .cont-title-count .title-time span {
          margin-right: 10px; }
          .content-simulacrum-app .cs-cont-header .cont-title-count .title-time span .material-icons {
            margin-right: 2px;
            font-size: 20px; }
    .content-simulacrum-app .cs-cont-header .cont-title-time {
      right: -4px; }
  .content-simulacrum-app .cs-cont-questions-courses .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    z-index: 3; }
  .content-simulacrum-app .cs-cont-questions-courses .cs-cont-questions #listQuestions {
    height: 600px;
    position: relative; }
    .content-simulacrum-app .cs-cont-questions-courses .cs-cont-questions #listQuestions .card .card-title {
      font-size: 17px;
      color: #ffab40; }
    .content-simulacrum-app .cs-cont-questions-courses .cs-cont-questions #listQuestions .card .card-content {
      padding: 0px 15px 20px;
      border-radius: 0 0 2px 2px; }
    .content-simulacrum-app .cs-cont-questions-courses .cs-cont-questions #listQuestions .card .card-action {
      padding: 10px; }
  .content-simulacrum-app .cs-cont-questions-courses .cs-cont-questions .cont-choices {
    padding: 0 10px;
    color: white; }
    .content-simulacrum-app .cs-cont-questions-courses .cs-cont-questions .cont-choices li label {
      color: white; }
      .content-simulacrum-app .cs-cont-questions-courses .cs-cont-questions .cont-choices li label span {
        color: #ffab40; }
  .content-simulacrum-app .cs-cont-questions-courses .cs-cont-courses {
    background: white;
    overflow: hidden;
    padding: 0; }
    .content-simulacrum-app .cs-cont-questions-courses .cs-cont-courses ul {
      height: 600px;
      position: relative; }
      .content-simulacrum-app .cs-cont-questions-courses .cs-cont-courses ul li {
        display: block;
        background-size: 40% auto;
        background-repeat: no-repeat;
        background-position: 120%;
        margin: 11px 5px;
        font-size: 13px;
        padding: 8px;
        background-color: rgba(0, 149, 221, 0.86);
        border-radius: 2px;
        text-align: left;
        text-transform: uppercase;
        color: #fff;
        height: 55px;
        font-weight: bold;
        transform: translateX(-280px);
        position: relative;
        opacity: 0;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 16px 0 rgba(0, 0, 0, 0.19);
        -webkit-transition: background-color .5s, box-shadow .5s;
        -moz-transition: background-color .5s, box-shadow .5s;
        -ms-transition: background-color .5s, box-shadow .5s;
        -o-transition: background-color .5s, box-shadow .5s;
        transition: background-color .5s, box-shadow .5s; }
        .content-simulacrum-app .cs-cont-questions-courses .cs-cont-courses ul li.selectedCourse {
          background-color: #AE0000; }
        .content-simulacrum-app .cs-cont-questions-courses .cs-cont-courses ul li .back-li {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 0;
          background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(89, 89, 89, 0.4) 99%, rgba(89, 89, 89, 0.4) 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(89, 89, 89, 0.4)), color-stop(100%, rgba(89, 89, 89, 0.4)));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(89, 89, 89, 0.4) 99%, rgba(89, 89, 89, 0.4) 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(89, 89, 89, 0.4) 99%, rgba(89, 89, 89, 0.4) 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(89, 89, 89, 0.4) 99%, rgba(89, 89, 89, 0.4) 100%);
          /* IE10+ */
          background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(89, 89, 89, 0.4) 99%, rgba(89, 89, 89, 0.4) 100%); }
        .content-simulacrum-app .cs-cont-questions-courses .cs-cont-courses ul li.efect-finish {
          transform: translateX(0px);
          opacity: 1;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
          .content-simulacrum-app .cs-cont-questions-courses .cs-cont-courses ul li.efect-finish:hover {
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 16px 0 rgba(0, 0, 0, 0.19); }
        .content-simulacrum-app .cs-cont-questions-courses .cs-cont-courses ul li p {
          margin: 0;
          position: relative;
          z-index: 1; }

.content-simulacrum-exam {
  position: relative; }
  .content-simulacrum-exam .cont-card-key {
    width: 120px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -125px;
    background-color: white; }
    .content-simulacrum-exam .cont-card-key .ck-list-question .ck-list-alternative {
      display: inline-block;
      color: #bcbcc1; }
      .content-simulacrum-exam .cont-card-key .ck-list-question .ck-list-alternative:nth-of-type(2n) {
        background-color: #4B67A8;
        color: white; }
        .content-simulacrum-exam .cont-card-key .ck-list-question .ck-list-alternative:nth-of-type(2n) li {
          border-color: white;
          background: white;
          color: #4B67A8; }
      .content-simulacrum-exam .cont-card-key .ck-list-question .ck-list-alternative li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #bcbcc1;
        cursor: pointer;
        display: inline-block;
        font-size: 10px;
        text-align: center;
        margin-right: 4px;
        margin-bottom: 3px; }
        .content-simulacrum-exam .cont-card-key .ck-list-question .ck-list-alternative li:first-of-type {
          border-radius: 0;
          border: none;
          border-right: 1px solid;
          vertical-align: top;
          height: 23px;
          line-height: 23px;
          margin-bottom: 0; }

.content-simulacrum-login {
  padding-top: 20px !important;
  padding-bottom: 0;
  position: relative;
  overflow: hidden; }
  .content-simulacrum-login.container {
    max-width: 925px; }
  .content-simulacrum-login .img-logo-unmsm {
    position: absolute;
    height: 78%;
    top: 0;
    opacity: .09;
    right: -212px;
    z-index: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .content-simulacrum-login .row {
    position: relative;
    z-index: 1; }

.btn-verify {
  float: right;
  margin-top: 8px; }

.cont-qr-form {
  padding-top: 50px; }
  .cont-qr-form .cont-qr, .cont-qr-form .cont-form {
    text-align: center;
    font-size: 16px;
    position: relative; }
    .cont-qr-form .cont-qr .line-separator, .cont-qr-form .cont-form .line-separator {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 0;
      height: 310px;
      border-right: 1px solid #D6D6D6;
      margin: auto; }
    .cont-qr-form .cont-qr .title-secc-form, .cont-qr-form .cont-form .title-secc-form {
      color: #4B67A8;
      font-weight: bold;
      text-align: center; }
  .cont-qr-form .cont-qr .indication-qr {
    font-size: 12px;
    margin-top: 3px;
    color: #D0D0D0; }
  .cont-qr-form .cont-form .btn-send-code {
    color: white; }

.footer-login {
  height: 140px;
  margin: 80px -15px 0 !important;
  overflow: hidden; }
  .footer-login .img-bottom {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    transform: translateY(140px); }
    .footer-login .img-bottom:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.2);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.5)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0); }
    .footer-login .img-bottom:nth-of-type(1) {
      background-image: url(../img/img3.jpg); }
    .footer-login .img-bottom:nth-of-type(2) {
      background-image: url(../img/img1.jpg); }
    .footer-login .img-bottom:nth-of-type(3) {
      background-image: url(../img/img4.jpg); }
    .footer-login .img-bottom:nth-of-type(4) {
      background-image: url(../img/img5.jpg); }

@-webkit-keyframes animation {
  0% {
    background: #3F527E; }
  50% {
    background: #CD5B58; }
  100% {
    background: #3F527E; } }
@keyframes animation {
  0% {
    background: #3F527E; }
  50% {
    background: #CD5B58; }
  100% {
    background: #3F527E; } }

/*# sourceMappingURL=main.css.map */
