<div class="container content-simulacrum-app content-simulacrum-login">
    <div class="row cs-cont-header">
        <div class="col s12 cont-title">
            <h5 class="title-simulacrum">SIMULACRO UNMSM</h5>
            <p>COMPENDIUM - 2015-II</p>
        </div>
    </div>
    <div class="row cont-qr-form valign-wrapper">
      <div class="col s6 cont-qr">
         <p class="title-secc-form">INGRESE CON COMPENDIUM</p>
         <qrcode version="5" error-correction-level="M" size="210" data="string"></qrcode>
          <p class="indication-qr">(escanee el qr con la opcion simulacro)</p>
         <div class="line-separator"></div>
      </div>
      <div class="col s6 valign cont-form">
        <form>
            <p class="title-secc-form">INGRESE CON CODIGO</p>
            <div class="row">

                    <div class="input-field  col s10 offset-s1">
                      <input id="first_name2" ng-model="login.key" type="text" class="validate" required>
                      <label class="active" for="first_name2">Ingrese su codigo...</label>
                    </div>

            </div>
            <button class="btn waves-effect indigo waves-light btn-send-code"  ng-click="login.loginSend(login.key)" type="submit">Iniciar<i class="material-icons right">send</i></button>
        </form>
      </div>
    </div>
    <ul class="row footer-login" id="img-unmsm">
        <li class="col s3 img-bottom waves-effect waves-light"></li>
        <li class="col s3 img-bottom waves-effect waves-light"></li>
        <li class="col s3 img-bottom waves-effect waves-light"></li>
        <li class="col s3 img-bottom waves-effect waves-light"></li>
    </ul>

    <img ng-src="[[static]]/img/logounmsm-sinletra.png" alt="" class="img-logo-unmsm">
</div>
