    <nav class="navbar navbar-inverse navbar-fixed-top navbar-add-question">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">INGRESO DE PREGUNTAS</a>
            </div>
            <a ng-if="coursoId!=undefined" href="#/verify/[[coursoId]]" class="btn btn-danger btn-enviar btn-verify"> verificar curso</a>
          </div>
    </nav>
    <div class="container container-form-question">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 cont-question">
                <form class="form-question">
                    <div class="form-group">
                        <textarea required autofocus id="question-text" class="form-control" ng-model="addQuestion.question.text" placeholder="Ingrese texto..."></textarea>
                    </div>
                    <div class="form-group row row-date">
                        <div   class="col-md-2 col-text-alternative">
                            <input type="number" min="1970" max="2018" ng-model="addQuestion.question.year_show" required ng-change="addQuestion.update_date_show()" class="form-control" placeholder="año">
                        </div>
                        <div   class="col-md-2 col-text-alternative" >
                            <input type="text" required class="form-control show-date-class"
                                   placeholder=" I - II"
                                   maxlength="2"
                                   ng-change="addQuestion.updateDateShowString(date_show)"
                                   ng-model="date_show"
                                   ng-show="addQuestion.question.year_show>2003" >
                            <!--<input type="text" disabled class="form-control" ng-if="yearExam<=2000" placeholder=" I - II">-->
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                            <input type="number" min="0" ng-model="addQuestion.question.source_number" required class="form-control" placeholder="# boletin">
                        </div>
                        <div class="col-md-2 cont-check-costom" ng-click="addQuestion.verify()">
                            <div class="check-custom">
                                <div class="mark-check" ng-show="addQuestion.question.verified"></div>
                            </div> Preg. válida
                        </div>
                    </div>
                    <p class="label-secc-gruop btn-info">Alternativas</p>
                    <div class="form-group row">
                        <label class="col-md-1 col-letter">a)</label>
                        <div   class="col-md-11 col-text-alternative">
                            <input type="text"  required ng-model="addQuestion.question.option_a"  class="form-control" placeholder="a)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1 col-letter">b)</label>
                        <div   class="col-md-11 col-text-alternative">
                            <input type="text" ng-model="addQuestion.question.option_b" required class="form-control" placeholder="b)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1 col-letter">c)</label>
                        <div   class="col-md-11 col-text-alternative">
                            <input type="text" ng-model="addQuestion.question.option_c" required class="form-control" placeholder="c)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1 col-letter">d)</label>
                        <div   class="col-md-11 col-text-alternative">
                            <input type="text" ng-model="addQuestion.question.option_d" required class="form-control" placeholder="d)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1 col-letter">e)</label>
                        <div   class="col-md-11 col-text-alternative">
                            <input type="text" ng-model="addQuestion.question.option_e" required class="form-control" placeholder="e)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1 col-letter">Rpt:</label>
                        <div   class="col-md-11 col-text-alternative">
                            <input type="text" ng-model="addQuestion.question.answer" required class="form-control" placeholder="Rpt">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label>Descripcion rpt : </label>
                        <textarea required class="form-control"
                                  ng-model="addQuestion.question.argument_answer"
                                  placeholder="Ingrese texto..."></textarea>
                    </div>-->
                    <!--<p class="label-secc-gruop btn-info">Datos</p>-->

                    <div class="row cont-select-course-temas">
                        <div class="col-md-4">
                            <label class="col-md-1 col-letter">Curso</label>
                            <select ng-required required class="form-control btn-primary col-md-8 select-course-theme"
                                    ng-model="coursoId"
                                    ng-options="curso.id as curso.name for curso in cursos"
                                    ng-class="{'inputVoid':coursoId==undefined,'alertVoid':alertVoidCourseTheme}"
                                    ng-change="addQuestion.changeCourse()">
                            </select>
                        </div>
                        <div class="col-md-8">
                            <label class="col-md-1 col-letter">Tema</label>
                            <select ng-required required class="form-control btn-primary col-md-8 select-course-theme"
                                    ng-model="temaId"
                                    ng-options="tema.id as tema.name for tema in temas"
                                    ng-class="{'inputVoid':temaId==undefined,'alertVoid':alertVoidCourseTheme}"
                                    ng-change="addQuestion.selectTheme()">
                            </select>
                        </div>
                    </div>
                    <div class="modal modal-success-add-question fade bs-example-modal-sm" id="modal-success-add" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            Se registro la pregunta
                        </div>
                      </div>
                    </div>
                    <div ng-show=alertVoidCourseTheme class="btn btn-info message-void-course-theme">Ingrese curso y/o tema</div>
                    <button type="submit" class="btn btn-danger btn-enviar" ng-click="addQuestion.sendQuestion()">Enviar</button>
                </form>
            </div>
        </div>
    </div>