<div class="container content-simulacrum-app content-simulacrum-exam">
    <div class="row cs-cont-header">
        <div class="col s2 cont-title-count ">
           <p class="title-time"><span><i class="material-icons">check_box</i>65</span><span><i class="material-icons">check_box_outline_blank</i>35</span></p>
           <p>Respuestas</p>
        </div>
        <div class="col s8 cont-title">
            <h5 class="title-simulacrum">SIMULACRO UNMSM ss</h5>
            <p>Preguntas de [[ simulacrum.courseSelected.name ]]</p>
        </div>
        <div class="col s2 cont-title-time">
           <p class="title-time">02:30:40</p>
           <p>tiempo restante</p>
        </div>
    </div>
    <div class="row cs-cont-questions-courses">
      <div class="col s10 cs-cont-questions">
         <ul id="listQuestions" class="row" ng-init="efectFinishQuestion=false;">
            <li ng-repeat="question in QuestionsAux"
                ng-init="$last?simulacrum.runEfect('#listQuestions'):null"
                class="col s12 m6">
              <div class="card blue-grey darken-1 hoverable">
                <div class="card-content white-text">
                  <span class="card-title">Pregunta [[$index+20]]</span>
                  <p>[[question.text]]</p>
                </div>
                <ul class="cont-choices">
                    <li ng-repeat="choice in question.options">
                      <input type="checkbox" class="filled-in" id=[[choice.id]]>
                      <label for=[[choice.id]]><span>[[choice.id]])</span> [[choice.text]]</label>
                    </li>
                </ul>
                <div class="card-action">
                  <a>unmsm [[question.date_show]]</a>
                </div>
              </div>
            </li>
         </ul>
      </div>

      <div class="col s2 cs-cont-courses">
        <ul id="staggered-test" ng-init="efectFinish=false;">
          <li class="waves-effect waves-light valign-wrapper"
              ng-repeat="curso in cursos"
              ng-init="$last?simulacrum.runEfect('#staggered-test'):null;
                       $first?simulacrum.openCourse(curso):null"
              ng-style="{'background-image':'url('+static+curso.img+')'}"
              ng-class="{'efect-finish':efectFinish,'selectedCourse':curso.id==simulacrum.courseSelected.id}"
              ng-click="simulacrum.openCourse(curso)">
            <div class="back-li"></div>
            <p class="valign">[[ curso.name ]]</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="cont-card-key">
        <ul class="ck-list-question">
            <li class="ck-list-alternative" ng-repeat="keys in simulacrum.listKeys">
               <ul>
                   <li>[[$index+1]]</li><li>a</li><li>b</li><li>c</li><li>d</li><li>e</li>
               </ul>
            </li>
        </ul>
    </div>
</div>
