<div class="container container-verify">
    <div class="row">
       <div class="table-responsive col-md-3 table-themes">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>TEMAS ss</th>
                <th># preguntas</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tema in temas track by $index">
                <th scope="row">[[tema.name]]</th>
                <td>[[tema.number_questions]]</td>
              </tr>
            </tbody>
          </table>
          <p class="nombre-curso">[[curso.name]]</p>
        </div>

        <div class="table-responsive col-md-1  table-number-question" id="col-1">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[0]=!viewTable[0]">
                  <span ng-show="viewTable[0]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[0]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[0]">
            <thead>
              <tr>
                <th>Pre</th>
                <th>clav</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index"
                  ng-if="$index<50"
                  ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td ng-class="{'answer-incorrec':verify.answerIncorrecy(question.options.answer)==-1}">
                    [[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive col-md-1  table-number-question" ng-if="preguntas.length>50" ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false" id="col-2">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[1]=!viewTable[1]">
                  <span ng-show="viewTable[1]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[1]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[1]">
            <thead>
              <tr>
                <th>Preg.</th>
                <th>clave</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index" ng-if="$index>=50 && $index<100"
                  ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td ng-class="{'answer-incorrec':verify.answerIncorrecy(question.options.answer)==-1}">[[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive col-md-1  table-number-question" ng-if="preguntas.length>100"  id="col-3">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[2]=!viewTable[2]">
                  <span ng-show="viewTable[2]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[2]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[2]">
            <thead>
              <tr>
                <th>Pre</th>
                <th>clav</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index" ng-if="$index>=100 && $index<150" ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td>[[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive col-md-1  table-number-question" ng-if="preguntas.length>150"  id="col-4">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[3]=!viewTable[3]">
                  <span ng-show="viewTable[3]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[3]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[3]"
                 >
            <thead>
              <tr>
                <th>Pre</th>
                <th>clav</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index" ng-if="$index>=150 && $index<200"
                  ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td ng-class="{'answer-incorrec':verify.answerIncorrecy(question.options.answer)==-1}">
                    [[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive col-md-1  table-number-question" ng-if="preguntas.length>200"  id="col-5">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[4]=!viewTable[4]">
                  <span ng-show="viewTable[4]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[4]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[4]">
            <thead>
              <tr>
                <th>Pre</th>
                <th>clav</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index" ng-if="$index>=200 && $index<250" ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td ng-class="{'answer-incorrec':verify.answerIncorrecy(question.options.answer)==-1}">[[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive col-md-1  table-number-question" ng-if="preguntas.length>250"  id="col-6">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[5]=!viewTable[5]">
                  <span ng-show="viewTable[5]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[5]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[5]">
            <thead>
              <tr>
                <th>Pre</th>
                <th>clav</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index" ng-if="$index>=250 && $index<300" ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td ng-class="{'answer-incorrec':verify.answerIncorrecy(question.options.answer)==-1}">[[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive col-md-1  table-number-question" ng-if="preguntas.length>300"  id="col-7">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[6]=!viewTable[6]">
                  <span ng-show="viewTable[6]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[6]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[6]" >
            <thead>
              <tr>
                <th>Pre</th>
                <th>clav</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index" ng-if="$index>=300 && $index<350" ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td ng-class="{'answer-incorrec':verify.answerIncorrecy(question.options.answer)==-1}">[[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive col-md-1  table-number-question" ng-if="preguntas.length>350"  id="col-8">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[7]=!viewTable[7]">
                  <span ng-show="viewTable[7]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[7]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[7]">
            <thead>
              <tr>
                <th>Pre</th>
                <th>clav</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index" ng-if="$index>=350 && $index<400" ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td ng-class="{'answer-incorrec':verify.answerIncorrecy(question.options.answer)==-1}">[[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive col-md-1  table-number-question" ng-if="preguntas.length>400"  id="col-9">
          <div class="cont-option-verify">
              <button type="button" class="btn btn-info" ng-click="viewTable[8]=!viewTable[8]">
                  <span ng-show="viewTable[8]" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <span ng-hide="viewTable[8]" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </button>
          </div>
          <table class="table table-bordered" ng-show="viewTable[8]" >
            <thead>
              <tr>
                <th>Pre</th>
                <th>clav</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in preguntas track by $index" ng-if="$index>=400" ng-init="question.popup=false;"
                  ng-mouseover="question.popup=true"
                  ng-mouseleave="question.popup=false">
                <th scope="row">[[$index+1]]</th>
                <td ng-class="{'answer-incorrec':verify.answerIncorrecy(question.options.answer)==-1}">[[question.options.answer]]
                    <div class="popup"
                         ng-class="{'show-popup':question.popup}">
                        <b>[[$index+1]].</b> [[question.text]]
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


    </div>




</div>