<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Preguntas</title>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/angular/angular.min.js"></script>
    <!-- Restangular ( lodash es una dependencia para restangular )-->
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/restangular/dist/restangular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- ************************************************************************** -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/perfect-scrollbar/js/min/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/static/bower/angular-qrcode/angular-qrcode.js"></script>
    <!-- ************************************************************************** -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/bower/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/bower/bootstrap/dist/css/bootstrap-theme.css"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/bower/perfect-scrollbar/css/perfect-scrollbar.min.css"/>

    <!--Let browser know website is optimized for mobile-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->

    <script type="text/javascript" src="/static/js/qrcode.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <link rel="stylesheet" href="/static/sass/main.css"/>
</head>
<body ng-controller="mainController">

    <link type="text/css" ng-if="Materialize.materializeValue" rel="stylesheet" href="{{ STATIC_URL }}/static/bower/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript"  src="{{ STATIC_URL }}/static/bower/materialize/dist/js/materialize.min.js"></script>
    <style ng-if="Materialize.materializeValue">
        body{
            padding-top: 25px;
            background: rgba(75,103,168,1);
            background: -moz-linear-gradient(45deg, rgba(75,103,168,1) 0%, rgba(75,103,168,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
            background: -webkit-gradient(linear,left bottom, right top, color-stop(0%, rgba(75,103,168,1)), color-stop(50%, rgba(75,103,168,1)), color-stop(50%, rgba(214,214,214,1)), color-stop(100%, rgba(214,214,214,1)));
            background: -webkit-linear-gradient(45deg, rgba(75,103,168,1) 0%, rgba(75,103,168,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
            background: -o-linear-gradient(45deg, rgba(75,103,168,1) 0%, rgba(75,103,168,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
            background: -ms-linear-gradient(45deg, rgba(75,103,168,1) 0%, rgba(75,103,168,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
            background: linear-gradient(45deg, rgba(75,103,168,1) 0%, rgba(75,103,168,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b67a8', endColorstr='#d6d6d6', GradientType=1 );
        }
    </style>

    <div ui-view></div>

</body>
</html>